<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PF's API</title>
</head>

<body>
    <h1>
        Welcome to PF's API
    </h1>
    <ul>
        <li>
            <h2>
                This is the resource's state:
            </h2>
            <p>
                <%= state %>
            </p>
        </li>
        <li>
            <h2>
                This is the resource's data:
            </h2>
            <p>
                <%= data %>
            </p>
        </li>
        <li>
            <h2>
                This is the resource's message:
            </h2>
            <p>
                <%= message %>
            </p>
        </li>

    </ul>

</body>

</html>